/*style for the whole page */ 
body{
background-color:#f4f4f9;/*light gray background*/ 
font-family:'segoe ut',tahoma,geneva,verdana,sans-serif; /*modern font*/ 
text-align:center;/*center all text*/ 
padding:50px; /*page pading*/ 
color:#333; /*main text color:dark gray*/ 
} 
/*main title*/ 
h1 { 
color:32c3e50; /*dark blue color*/ 
font-size:3rem;/*very large size*/ 
margin-bottom:10px; 
add to cart button*/ 
tton{ 
 background-color:#27ae60;/*beautiful green color*/ 
 color:white;/*white button text*/ 
 border:none;
padding:12px 25px; 
 font-size:1rem; 
border-radius:8px; /*rounded corners */ 
cursor:pointer; 
transition:0.35;/*smooth transition */ 
} 
/*button: hover{ 
background-color:#219150;/*darker green on hover*/ 
transform:scale(1.05); /*slightly scales up*/ 
} 
/*telegram and whattsap links*/ 
a{ 
color:#2980b9;/*blue color*/ 
text-decoration:none;/*remove underline*/ 
font-weight:bold; 
}
a:hover { 
color:#1c5980;/*darker blue on hover*/ 
}